@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  html,
  body {
    @apply bg-bg text-fg;
    -webkit-font-smoothing: antialiased;
  }
  * {
    border-color: theme("colors.border");
  }
}

@layer utilities {
  .scroll-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scroll-thin::-webkit-scrollbar-thumb {
    background: #2a3140;
    border-radius: 6px;
  }
  .scroll-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
